html,
body {
  height: 100%;
  background-color: #697DC2;
}

body {
  display: flex;
  align-items: center;
  padding-top: 90px;
  padding-bottom: 40px;
  background-color:#697DC2;
}

.form-signin {
  width: 100%;
  max-width: 450px;
  padding: 20px;
  margin: auto;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.308);
}
.viewc {
  width: 100%;
  max-width: 90%;
  padding: 20px;
  margin: 100px 50px;
  margin-top: 450px;
  background-color: #fff;
  border-top: 600px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.308);
}
  


.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.flooroption{
    width: 192px;
    height: 57px;
    border-radius: 5px;
    padding-top: 10px;
}
.form-signin input[type="text"] {
    margin-bottom: 10px;
    border-radius: 5px;
  }
.form-signin input[type="number"] {
  margin-bottom: 10px;
  border-radius: 5px;
}
.form-signin input[type="email"] {
    margin-bottom: 10px;
    border-radius: 5px;
  }

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-radius: 5px;
}
.form-signin input[type="date"] {
    margin-bottom: 10px;
    border-radius: 5px;
  }

  .form-signin input[type="time"] {
    margin-bottom: 10px;
    border-radius: 5px;
  }
  
  .complaintsection{
    background-color: #fff;
    border-radius: 5px;
  }
  table, th, td {
    border: 1px solid ;
    border-color: #96D4D4;
    column-width: 200px;
  }
